<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <javaee:welcome-file-list>
    <javaee:welcome-file>index.jsp</javaee:welcome-file>
  </javaee:welcome-file-list>
  <javaee:error-page>
    <javaee:error-code>500</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>404</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>401</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>402</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>403</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>501</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>502</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:error-page>
    <javaee:error-code>504</javaee:error-code>
    <javaee:location>/error.jsp</javaee:location>
  </javaee:error-page>
  <javaee:session-config>
    <javaee:session-timeout>30</javaee:session-timeout>
  </javaee:session-config>
  <javaee:display-name>CoreServlet</javaee:display-name>
  <javaee:servlet>
    <javaee:servlet-name>CoreServlet</javaee:servlet-name>
    <javaee:servlet-class>org.stan.yxgz.servlet.CoreServlet</javaee:servlet-class>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>CoreServlet</javaee:servlet-name>
    <javaee:url-pattern>/CoreServlet</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:servlet>
    <javaee:servlet-name>springmvc</javaee:servlet-name>
    <javaee:servlet-class>org.springframework.web.servlet.DispatcherServlet</javaee:servlet-class>
    <javaee:init-param>
      <javaee:param-name>contextConfigLocation</javaee:param-name>
      <javaee:param-value>classpath:resource/spring-mvc.xml</javaee:param-value>
    </javaee:init-param>
    <javaee:load-on-startup>1</javaee:load-on-startup>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>springmvc</javaee:servlet-name>
    <javaee:url-pattern>*.do</javaee:url-pattern>
  </javaee:servlet-mapping>
</web-app>